name: Base58

on:
  push:
    branches: [main, goodsprings]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: [8.1, 8.2, 8.3, 8.4, 8.5]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Install Composer dependencies
        run: composer install --no-progress --prefer-dist

      - name: Run PHPUnit
        run: bin/phpunit --no-coverage